
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    overflow-x: hidden;
}

.hero{
    height: 100vh;
    width: 100vw;
    background-image: url(assets/background.png);
}

.img-grid img{
    height: 100%;
    transition: transform .3s ease;
}

.img-grid img:hover{
    transform: scale(1.1);
}

.nav{
    transition: background 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
